nav.main-navbar {
	.botton-login-on-nav {
		background-color: #286061;
		color: #fff;
	}
	&.not-sticky {
		position: sticky;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 10;
		background: #fff;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
		@include flex(row, space-between, center);
		padding: 15px;
		.nav-logo {
			img {
				height: 50px;
				width: auto;
			}
		}

		.nav {
			width: auto;
			@include flex(row, flex-end, flex-end);
			gap: 10px;
			li {
				.nav-icon {
					display: none;
				}
				.nav-link {
					color: #666;
					font-size: 13px;
					@include flex(row, center, center);
					gap: 5px;
					border-radius: 5px;
					span {
						color: #666;
						font-size: 13px;
					}
					&:hover,
					&.active {
						background-color: #286061;
						color: #fff;
						span {
							color: #fff;
						}
					}
				}
			}
		}
	}

	&.is-sticky {
		background: #286061;
		.nav-logo {
			display: none;
		}

		position: fixed;
		z-index: 5;
		top: 0;
		right: 0;
		height: 100vh;
		width: 100px;

		.nav {
			width: 100%;
			height: 100%;
			@include flex(column, center, center);
			li {
				flex: 1;
				height: 100%;
				width: 100%;
				position: relative;
				background-image: linear-gradient(
					to bottom,
					transparent,
					transparent 99%,
					#ccc 99%,
					#ccc 100%
				);

				&:last-child {
					background: none;
				}

				.nav-link {
					@include flex(column, center, center);
					gap: 10px;
					height: 100%;
					text-align: center;

					&:hover {
						background: #fff;
						.fa,
						span {
							color: #286061;
						}
					}

					.fa {
						color: #fff;
						font-size: 25px;
					}
					span {
						color: #fff;
						font-family: "Maison Neue Reguler";
						font-size: 13px;
					}
				}
			}
		}
	}
}
