* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	position: relative;
	background-color: #fbf7f3;
}

#main-page {
	opacity: 0;
	transform: translateX(50px);
	transition: opacity 0.5s ease, transform 0.5s ease;
}
#main-page.page-loaded {
	opacity: 1;
	transform: translateX(0);
}
#main-page.page-leave {
	opacity: 0;
	transform: translateX(-50px);
}

.button {
	@include flex(row, flex-start, center);
	gap: 10px;
	padding: 10px 20px;
	border-radius: 10px;
	border: none;
	background: #fff;
	width: auto;
	text-decoration: none;
	&-block {
		width: 100%;
		justify-content: center;
		text-align: center;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "DM Serif Display", sans-serif;
}

p,
span {
	font-family: "Maison Neue Light", sans-serif;
	font-size: 15px;
	color: $paragraph-color;
}

.text {
	&-grey {
		color: $grey;
	}
	&-grey-dark {
		color: $grey-dark;
	}
	&-grey-light {
		color: $grey-light;
	}
	&-green {
		color: $green;
	}
	&-orange {
		color: $orange;
	}
}

.title {
	&.main-title {
		font-size: 90px;
		line-height: 90px;
		margin-bottom: 75px;
	}
	&.second-title {
		font-size: 40px;
		line-height: 40px;
		margin-bottom: 50px;
	}
	&.page-title {
		font-size: 50px;
		line-height: 50px;
		margin-bottom: 50px;
	}

	&.page-sub-title {
		font-size: 25px;
		line-height: 25px;
		margin-bottom: 25px;
	}
}
.container.page-wrapper {
	padding-block: 50px;
}

.pagination {
	margin-top: 25px;
	gap: 5px;
	.page-item {
		.page-link {
			background: none;
			border: none;
			font-size: 13px;
			line-height: 1;
			color: $grey-dark;
			border-radius: 5px;

			&:hover,
			&.active {
				background: $grey-light;
			}
		}
	}
}

@include media(sm) {
	.title {
		&.main-title {
			font-size: 50px;
			line-height: 50px;
			margin-bottom: 50px;
		}
		&.second-title {
			font-size: 25px;
			line-height: 25px;
			margin-bottom: 35px;
		}
	}
}
