// Fonts
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
	font-family: "Maison Neue Bold";
	src: url("../../fonts/Maison_Neue_Bold.ttf") format("truetype");
}
@font-face {
	font-family: "Maison Neue Reguler";
	src: url("../../fonts/Maison_Neue_Book.ttf") format("truetype");
}
@font-face {
	font-family: "Maison Neue Light";
	src: url("../../fonts/Maison_Neue_Light.ttf") format("truetype");
}
@font-face {
	font-family: "Maison Neue Mono";
	src: url("../../fonts/Maison_Neue_Mono.ttf") format("truetype");
}
