// Variables
$grey: #b4b4b4;
$grey-dark: #474747;
$grey-light: #e4e4e4;
$green: #286061;
$orange: #e3bb63;

$paragraph-color: #5d5d5d;
$schedule-background: #212121;

// Transportation Section
$transport-tab-active: #286061;
$transport-tab-inactive: #e4e4e4;
$transport-border-radius: 8px;
$transport-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
