#loginModal {
	.modal-content {
		position: relative;
		border-radius: 10px;
		border: none;
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	}
	.modal-body {
		padding: 1.5rem;

		.cta_daftar {
			display: flex;
			align-items: end;
			justify-content: center;
			small {
				font-size: 12px;
			}
			a {
				font-family: "Maison Neue Bold";
				font-weight: bold;
				text-decoration: none;
				font-size: 15px;
				color: $green;
			}
		}
	}
}

.registration-panel {
	position: fixed;
	top: 0;
	right: -400px;
	width: 400px;
	height: 100vh;
	background-color: #fff;
	box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
	z-index: 1050;
	transition: right 0.3s ease;
	overflow-y: auto;
}
.registration-panel.open {
	right: 0;
}
body.registration-open {
	overflow: hidden;
}
.close-registration {
	background: none;
	border: none;
	color: $grey-light;
	font-size: 1.2rem;
	cursor: pointer;
	padding: 5px;
}
.registration-body {
	position: relative;
	padding: 20px;
}
.registration-type {
	@include flex(column, flex-start, flex-start);
	gap: 0;
	font-size: 12px;
	color: $grey-dark;
}

@media (max-width: 576px) {
	.registration-panel {
		width: 100%;
		right: -100%;
	}
}

.btn-close.btn-close-modal {
	position: absolute;
	padding: 7.5px;
	right: 1rem;
	top: 1rem;
	z-index: 1050;
	transform: scale(0.7);
	border-radius: 100%;
	background-color: $green;
	color: #fff;
	cursor: pointer;
	&:hover {
		background-color: color.adjust($green, $lightness: 10%);
	}
}
