.product-wrapper {
	padding-block: 75px;
	.owl-carousel {
		.owl-stage-outer {
			padding-block: 10px;
		}
		.owl-dots {
			@include flex(row, center, center);
			gap: 5px;
			width: 100%;
			margin-top: 15px;
			button {
				width: 10px;
				height: 10px;
				border-radius: 100em;
				border: none;
				background-color: $grey-light;
				&.active {
					background-color: $schedule-background;
				}
			}
		}
	}

	.custom-title {
		text-align: center;
		h4 {
			margin-top: -105px;
		}
	}

	.product-item {
		background-color: #fff;
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
		padding: 20px;
		border-radius: 10px;
		@include flex(column, flex-start);
		gap: 10px;

		&--header {
			overflow: hidden;
			width: 100%;
			height: auto;
			border-radius: 10px;
			border: 1px solid lighten($grey-light, 5%);
			img {
				width: 100%;
				aspect-ratio: 16/10;
				object-fit: cover;
			}
		}
		&--body {
			h4,
			p {
				font-family: "Roboto";
			}

			h4 {
				font-size: 25px;
				line-height: 30px;
				margin-bottom: 15px;
			}
			p {
				line-height: 1.5;
			}
		}
		&--footer {
			button {
				width: 40px;
				height: 40px;
				border-radius: 100em;
				border: none;
				background-color: $grey-light;
				color: #fff;
			}
		}

		&:hover {
			box-shadow: #0d816e 0px 2px 8px 0px;
			background: linear-gradient(154.2deg, #0d816e 0%, #51995d 100%);
			.product-item--body {
				h4,
				p {
					color: #fff;
				}
			}

			.product-item--footer {
				button {
					background: #79cfc2;
					color: #0d816e;
				}
			}
		}
	}
}

@include media(sm) {
	.product-wrapper {
		.custom-title {
			h4 {
				margin-top: -65px;
			}
		}
	}
}
